@import 'partials/setup';
@import 'partials/variables';
@import 'partials/global';

.home{
    @include background;
    background-image:linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.15) ), url(../assets/background.jpg);
    height: 100vh;
    overflow: hidden;
    color: #fff;

    nav{
        display: flex;
        margin: 50px 0;

        .left-nav{    
            display: flex;
            width: 18%;
            justify-content: space-between;

            img{
                display: inline-block;
                width: auto;

            }
            .logo-title{
                display: inline-block;
                text-align: center;
                
                h2{
                    font-family: $robotoSlab;
                    font-size: 25px;
                    
                }
                h5{
                    font-weight: 400;
                    font-size: 15px;
                    margin-bottom: 0;
                }
            }
        }
        .right-nav{
            width: 60%;
            display: flex;
            justify-content: flex-end;

            ul{
                display: inline-block;
                list-style: none;
                font-family: $openSans;

                li{
                    display: inline;
                    padding: 10px;
                    margin: 6px;
                    font-weight: 600;
                    font-style: normal;
                    font-size: 16px;
                }
                li:nth-child(1){
                    color: $peach;
                }
                li:hover{
                    @extend .hover;
                    color: $peach;
                }
            }
        } 
    }
    .home-text{
        margin-top: 20vh;
        width: 65%;

        h3{
            @include yellow-phrases;
        }
        h1{
            @extend .capitalized;
            font-size: 60px;
        }
        p{
            font-family: $openSans;
            margin-top: 15px;
            font-size: 25px;
            font-weight: 200;
            line-height: 40px;
            margin-bottom: 50px;
        }
        button{
            @include button;

        }
    }
}
.about {
    padding: 100px 0;

    .left-about{
        display: inline-block;
        margin: 0 5%;
        width: 45%;
        h1{
            @include section-title;
            
        }
        p{
            @extend .descriptions;
            margin-bottom: 15px;

            i{
                color: $yellow;
                margin-right: 20px;
            }
        }
        .list p:hover{
            @extend .hover;
            color: $yellow;
        }
        .first-par{
            margin-bottom: 25px;
        }
    }
    .right-about{
        width:42%;
        display: inline-block;
        text-align: center;
        margin: auto;

        img{
            width: 100%;
            height: 100%;
            margin: auto;
            text-align: center;
        }
    }
}
.cause{
    background-color: $bgColor;
    .cause-title{
        text-align: center;
        h3{
            @include yellow-phrases;
            padding-top: 15vh;
            margin-bottom: 10px;
        }
        h1{
            @include section-title;
            width: 50%;
            margin: auto;

        }
    }
}