@import 'partials/variables';
@import 'partials/setup';
@import 'partials/global';

.home{
    @include background;
    padding-bottom: 50px;
    background-image:linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.15) ), url(../assets/background.jpg);
    overflow: hidden;
    color: #fff;

    .left-nav{    
        @extend .flex-row;
        width: 18%;

        img{
            @extend .img-auto;
        }
        .logo-title{
            @extend .flex-column;
            
            h2{
                @extend .custom-text2;   
            }

            h5{
                @extend .custom-text1;
                font-weight: 400;
            }
        }
    }
    .right-nav{
        @extend .flex-row;
        @extend .custom-text1;
        width: 70%;

        ul{
            display: flex;
            justify-content: flex-end;
            list-style: none;

            li{
                padding: 10px;
                margin: 6px;
                font-weight: 600;
            }
            li:nth-child(1){
                color: $peach;
            }
            li:hover{
                @extend .hover;
                color: $peach;
            }
        } 
    }
    .home-text{
        color: #fff;
        margin: 20vh 0;
        padding: 5px;
        width: 65%;

        h3{
            @include yellow-phrases;
        }
        h1{
            @extend .custom-text5;
        }
            
        p{
            @extend .custom-text3;
            margin: 10px 0 50px 0;
        }
        button{
            @include button;
        }
    }
}
.about {
    @extend .sec-padding;

    .left-about{
        @extend .flex-column;
        text-align: left;
        width: 47%;
        margin-left: 30px;

        h1{
            @include section-title;
            margin-bottom: 20px;
        }
        p{
            @extend .descriptions;
            margin-bottom: 15px;

            i{
                color: $yellow;
                margin-right: 20px;
            }
        }
        .list p:hover{
            @extend .hover;
            color: $yellow;
        }
        .list p:nth-child(3){
            margin-bottom: 0;
        }
    }
    .right-about{
        width: 45%;
    
        img{
            @extend .img;
        }
    }
}
.cause{
    @extend .sec-padding;
    background-color: $bgColor;

    .cause-title{
        text-align: center;
        margin: auto;
        width: 50%;
        
        h3{
            @include yellow-phrases;
            margin-bottom: 10px;
        }
        h1{
            @include section-title;
        }
    }
    .container{
        margin: 70px 0;
    }

    .column{
        justify-content: space-between;
        width: 32%;
        background-color: #fff;
    
        img{
            @extend .img;
        }
    }
    .article-desc{
        @extend .flex-column;               
        padding: 15px 25px;

        h3{
            @extend .custom-text4;
            font-weight: 700;
            margin-bottom: 15px;
        }
        p{
            @extend .descriptions;
            margin-bottom: 10px;
        }
    }
    .numbers{
        @extend .flex-row;

        p{
            color:#2c292b;
            margin: 10px 0;

            span{
                color: $peach;
            }
        }
    }
}
.vision{
    @extend .sec-padding;
    h1{
        @include section-title;
    }
    p{
        @extend .custom-text3;
        color: $desColor;
        font-size: 23px;
    }
    .container{
        margin: 50px 0;
    }
    .logo-wrap{
        @extend .flex-column;
        text-align: left;
        width: 28%;
        margin-right: 15px;
        img{
            width: 100px;
        }
        h3{
            @extend .custom-text4;
            text-transform: capitalize;
            margin: 20px 0;
        }
        p{
            @extend .descriptions;
        }
    }
}
.facts{
    @extend .sec-padding;
    background-color: $orange;
    color: #fff;
    text-align: center;

    h3{
        @include yellow-phrases;
    }
    h1{
        @include section-title;
        color: #fff;
    }
    .container{
        padding: 60px;

        h5{
            @extend .descriptions;
            color: #fff;
        }
        h1{
            @extend .custom-text5;
            letter-spacing: 1px;
        }   
    }
}
.meet{
    @extend .sec-padding;
    text-align: center;

    h1{
        @include section-title;
    }
    p{
        @extend .custom-text3;
        color: $desColor;
    }
    .container{
        margin: 40px 0;
        img{
            @extend .img;
            margin: 10px 0;
        }
        h3{
            @extend .custom-text4;
        }
        p{
            font-size: 18px;
        }
    }
 }
 .join{
     @include background;
     background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../assets/trash.jpg);
     padding: 50px 0;
     color: #fff;
     text-align: center;

    h2{
         @include section-title;
         
         color: #fff;
     }
    p{
         @extend .custom-text3;
     }
     button{
        padding: 1.5% 5%;
        margin: 40px 0;
     }
 }
.news{
    @extend .sec-padding;
    background-color: $bgColor;

    h3{
        @include yellow-phrases;
        text-align: center;
    }
    h1{
        text-align: center;
        @include section-title;
    }
    .container{
        margin: 70px 0;
    }

    .column{
        justify-content: space-between;
        width: 32%;
        background-color: #fff;
    
        img{
            @extend .img;
        }
    }
    .article-desc{
        @extend .flex-column;               
        padding: 15px 25px;
        text-align: left;

        h3{
            @extend .custom-text4;
            text-transform: capitalize;
            text-align: left;
            margin-bottom: 10px;
        }
        p{
            @extend .descriptions;
        }
    }
}
.gallery{
    @extend .sec-padding;
    text-align: center;
    h3{
        @include yellow-phrases;
    }
    h1{
        @include section-title;
    }
    .container{
        flex-wrap: wrap;
        margin: 10px;

        img{
            display: inline-block;
            @extend .img;
        }
    }
}














@media #{$desktop}{
.home{
    padding: 0;
   .right-nav{
       width: 80%;
       justify-content: space-between;

       ul{
            justify-content: flex-start;
       }

   } 

    .home-text{
        margin: 30px 0;
        
        h1{
            text-transform: capitalize;
            font-size: 35px;
        }
    }
}
.about{
    padding: 20px 0;
}
.cause{

    .container{
        margin: 30px 0;
    }
    
}
.vision{
    p{
        font-size: 20px;
    }
}
.facts{
    .container{
        padding: 30px;
    }
}
.meet{
    .volunteer{
        margin-right: 15px;
        p{
            font-size: 16px;
        }
    }
}
.join{
    padding: 20px;
}
}


@media #{$default}{
.home{
    .left-nav{
        width: 30%;
    }
    .right-nav{
        display: none;
    }
}
.about{
    .left-about{
        width: 60%;
    }
    .right-about{
        width: 
        38%;
    }
}
.cause{
    .container{
        margin: 20px auto;
        flex-direction: column;
    }
    .column{
        width: 90%;
        margin: auto auto 20px auto;
    }
}
.vision{
    h1{
        margin: 0 3%;
    }
    p{
        margin: 0 3%;
    }
    .container{
        flex-direction: column;
        margin: 20px auto;
    }
    .logo-wrap{
        text-align: center;
        width: 70%;
        margin: 10px auto;

        img{
            margin: auto;
        }
    }   
}
.facts{
    padding: 20px;
    .four-row{
        flex-wrap: wrap;
        width: 80%;
        margin: auto;
        padding: 20px;
    }
    .row-container{
        width: 40%;
        margin: 10px;
    }
}
.meet{
    .container{
        flex-wrap: wrap;
    }
    .volunteer{
        width: 40%;
        margin: 10px auto;
    }
}
.news{
    .container{
        margin: 20px auto;
        flex-direction: column;
    }
    .column{
        width: 90%;
        margin: auto auto 20px auto;
    }

}
}
@media #{$medium}{
.home{
    .home-text{
        width: 95%;
    }
}
.about{
    .container{
        flex-direction: column;
    
        .left-about{
            width: 80%;
            margin: auto;
            margin-bottom: 20px;
        }
        .right-about{
            width: 80%;
            margin: auto;
        }
    }
}
}