* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }

.wrapper {
  margin: 5% 1%;
  padding: auto;
  max-width: 1170px; }

.custom-text1, .descriptions, .about .left-about p, .cause .article-desc p, .vision .logo-wrap p, .facts .four-row h5, .home .left-nav .logo-title h5, .home .right-nav, .home .home-text h3, .home .home-text button, .cause .cause-title h3, .facts h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px; }
  @media (max-width: 1024px) {
    .custom-text1, .descriptions, .about .left-about p, .cause .article-desc p, .vision .logo-wrap p, .facts .four-row h5, .home .left-nav .logo-title h5, .home .right-nav, .home .home-text h3, .home .home-text button, .cause .cause-title h3, .facts h3 {
      font-size: 14px; } }

.custom-text2, .home .left-nav .logo-title h2 {
  font-family: "Roboto Slab", serif;
  font-size: 25px; }
  @media (max-width: 1024px) {
    .custom-text2, .home .left-nav .logo-title h2 {
      font-size: 20px; } }

.custom-text3, .home .home-text p, .vision p {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-weight: 200; }
  @media (max-width: 1024px) {
    .custom-text3, .home .home-text p, .vision p {
      font-size: 20px; } }

.custom-text4, .about .left-about h1, .cause .cause-title h1, .cause .article-desc h3, .vision h1, .vision .logo-wrap h3, .facts h1 {
  font-family: "Roboto Slab", serif;
  font-size: 23px;
  color: #534d51; }
  @media (max-width: 1024px) {
    .custom-text4, .about .left-about h1, .cause .cause-title h1, .cause .article-desc h3, .vision h1, .vision .logo-wrap h3, .facts h1 {
      font-size: 18px; } }

.custom-text5, .home .home-text h1, .facts .four-row h1 {
  font-family: "Roboto Slab", serif;
  font-size: 58px;
  font-weight: 700; }
  @media (max-width: 1024px) {
    .custom-text5, .home .home-text h1, .facts .four-row h1 {
      font-size: 35px; } }

.flex-row, .container, .home .left-nav, .home .right-nav, .cause .three-article, .cause .numbers, .vision .three-logo, .facts .four-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row; }

.flex-column, .home .left-nav .logo-title, .about .left-about, .cause .column, .cause .article-desc, .vision .logo-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.descriptions, .about .left-about p, .cause .article-desc p, .vision .logo-wrap p, .facts .four-row h5 {
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  color: #96948f; }

.hover, .home .right-nav ul li:hover, .about .left-about .list p:hover {
  cursor: pointer;
  transition: .3s ease-in-out; }

.img, .about .right-about img, .cause .column img {
  max-width: 100%;
  max-height: 100%; }

.img-auto, .home .left-nav img {
  height: auto;
  width: auto; }

.sec-padding, .about, .cause, .vision, .facts {
  padding: 100px 0; }
  @media (max-width: 1024px) {
    .sec-padding, .about, .cause, .vision, .facts {
      padding: 50px 0; } }

.home {
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.15)), url(../assets/background.jpg);
  overflow: hidden;
  color: #fff; }
  .home .left-nav {
    width: 18%; }
    .home .left-nav .logo-title h5 {
      font-weight: 400; }
  .home .right-nav {
    width: 70%; }
    .home .right-nav ul {
      display: flex;
      justify-content: flex-end;
      list-style: none; }
      .home .right-nav ul li {
        padding: 10px;
        margin: 6px;
        font-weight: 600; }
      .home .right-nav ul li:nth-child(1) {
        color: #daa769; }
      .home .right-nav ul li:hover {
        color: #daa769; }
  .home .home-text {
    color: #fff;
    margin: 20vh 0;
    padding: 5px;
    width: 65%; }
    .home .home-text h3 {
      color: #ebc33a;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 0.8px; }
    .home .home-text p {
      margin: 10px 0 50px 0; }
    .home .home-text button {
      border-radius: 28px;
      background-color: #daa769;
      color: #fff;
      text-transform: uppercase;
      border: none;
      padding: 20px 35px;
      font-weight: 800;
      letter-spacing: 0.8px; }
      @media (max-width: 1024px) {
        .home .home-text button {
          padding: 15px 25px; } }

.about .left-about {
  text-align: left;
  width: 47%;
  margin-left: 30px; }
  .about .left-about h1 {
    text-transform: capitalize;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: 20px; }
    @media (max-width: 1024px) {
      .about .left-about h1 {
        font-size: 25px; } }
  .about .left-about p {
    margin-bottom: 15px; }
    .about .left-about p i {
      color: #ebc33a;
      margin-right: 20px; }
  .about .left-about .list p:hover {
    color: #ebc33a; }
  .about .left-about .list p:nth-child(3) {
    margin-bottom: 0; }

.about .right-about {
  width: 45%; }

.cause {
  background-color: #f7f6ef; }
  .cause .cause-title {
    text-align: center;
    margin: auto;
    width: 50%; }
    .cause .cause-title h3 {
      color: #ebc33a;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 0.8px;
      margin-bottom: 10px; }
    .cause .cause-title h1 {
      text-transform: capitalize;
      font-size: 40px;
      line-height: 1.2;
      font-weight: 400; }
      @media (max-width: 1024px) {
        .cause .cause-title h1 {
          font-size: 25px; } }
  .cause .three-article {
    margin: 70px 0; }
  .cause .column {
    justify-content: space-between;
    width: 32%;
    background-color: #fff; }
  .cause .article-desc {
    padding: 15px 25px; }
    .cause .article-desc h3 {
      font-weight: 700;
      margin-bottom: 15px; }
    .cause .article-desc p {
      margin-bottom: 10px; }
  .cause .numbers p {
    color: #2c292b;
    margin: 10px 0; }
    .cause .numbers p span {
      color: #daa769; }

.vision h1 {
  text-transform: capitalize;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 400; }
  @media (max-width: 1024px) {
    .vision h1 {
      font-size: 25px; } }

.vision p {
  color: #96948f;
  font-size: 23px; }

.vision .three-logo {
  margin: 50px 0; }

.vision .logo-wrap {
  text-align: left;
  width: 28%;
  margin-right: 15px; }
  .vision .logo-wrap img {
    width: 100px; }
  .vision .logo-wrap h3 {
    text-transform: capitalize;
    margin: 20px 0; }

.facts {
  background-color: #f48c27;
  color: #fff;
  text-align: center; }
  .facts h3 {
    color: #ebc33a;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.8px; }
  .facts h1 {
    text-transform: capitalize;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 400;
    color: #fff; }
    @media (max-width: 1024px) {
      .facts h1 {
        font-size: 25px; } }
  .facts .four-row {
    padding: 60px; }
    .facts .four-row h5 {
      color: #fff; }
    .facts .four-row h1 {
      letter-spacing: 1px; }

@media (max-width: 1024px) {
  .home {
    padding: 0; }
    .home .home-text {
      margin: 30px 0; }
      .home .home-text h1 {
        text-transform: capitalize;
        font-size: 35px; }
  .about {
    padding: 20px 0; }
  .cause .three-article {
    margin: 30px 0; }
  .vision p {
    font-size: 20px; }
  .facts .four-row {
    padding: 30px; } }
