* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }

.wrapper {
  margin: auto;
  padding: auto;
  max-width: 1170px; }

button {
  border-radius: 28px;
  background-color: #daa769;
  color: #fff;
  text-transform: uppercase;
  border: none;
  padding: 2.5% 5%;
  font-weight: 800;
  letter-spacing: 0.8px;
  transition: .3s ease-in-out; }
  @media (max-width: 1024px) {
    button {
      padding: 15px 25px; } }

.custom-text1, button, .descriptions, .about .left-about p, .cause .article-desc p, .vision .logo-wrap p, .facts .container h5, .news .article-desc p, .testimonials blockquote, .home .left-nav .logo-title h5, .home .right-nav, .home .home-text h3, .home .home-text button, .cause .cause-title h3, .facts h3, .news h3, .gallery h3, .testimonials h3, footer .logo-title h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px; }
  @media (max-width: 1024px) {
    .custom-text1, button, .descriptions, .about .left-about p, .cause .article-desc p, .vision .logo-wrap p, .facts .container h5, .news .article-desc p, .testimonials blockquote, .home .left-nav .logo-title h5, .home .right-nav, .home .home-text h3, .home .home-text button, .cause .cause-title h3, .facts h3, .news h3, .gallery h3, .testimonials h3, footer .logo-title h5 {
      font-size: 14px; } }
  @media (max-width: 767px) {
    .custom-text1, button, .descriptions, .about .left-about p, .cause .article-desc p, .vision .logo-wrap p, .facts .container h5, .news .article-desc p, .testimonials blockquote, .home .left-nav .logo-title h5, .home .right-nav, .home .home-text h3, .home .home-text button, .cause .cause-title h3, .facts h3, .news h3, .gallery h3, .testimonials h3, footer .logo-title h5 {
      font-size: 13px; } }

.custom-text2, .home .left-nav .logo-title h2, footer .logo-title h2 {
  font-family: "Roboto Slab", serif;
  font-size: 25px; }
  @media (max-width: 1024px) {
    .custom-text2, .home .left-nav .logo-title h2, footer .logo-title h2 {
      font-size: 20px; } }
  @media (max-width: 767px) {
    .custom-text2, .home .left-nav .logo-title h2, footer .logo-title h2 {
      font-size: 18px; } }

.custom-text3, .home .home-text p, .vision p, .meet p, .join p {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-weight: 200; }
  @media (max-width: 1024px) {
    .custom-text3, .home .home-text p, .vision p, .meet p, .join p {
      font-size: 20px; } }
  @media (max-width: 1024px) {
    .custom-text3, .home .home-text p, .vision p, .meet p, .join p {
      font-size: 18px; } }

.custom-text4, .about .left-about h1, .cause .cause-title h1, .cause .article-desc h3, .vision h1, .vision .logo-wrap h3, .facts .head, .meet h1, .meet .container h3, .join h2, .news h1, .news .article-desc h3, .gallery h1, .testimonials h1, .testimonials h5 {
  font-family: "Roboto Slab", serif;
  font-size: 23px;
  color: #534d51; }
  @media (max-width: 1024px) {
    .custom-text4, .about .left-about h1, .cause .cause-title h1, .cause .article-desc h3, .vision h1, .vision .logo-wrap h3, .facts .head, .meet h1, .meet .container h3, .join h2, .news h1, .news .article-desc h3, .gallery h1, .testimonials h1, .testimonials h5 {
      font-size: 18px; } }
  @media (max-width: 1024px) {
    .custom-text4, .about .left-about h1, .cause .cause-title h1, .cause .article-desc h3, .vision h1, .vision .logo-wrap h3, .facts .head, .meet h1, .meet .container h3, .join h2, .news h1, .news .article-desc h3, .gallery h1, .testimonials h1, .testimonials h5 {
      font-size: 16px; } }

.custom-text5, .home .home-text h1, .facts .container h1 {
  font-family: "Roboto Slab", serif;
  font-size: 58px;
  font-weight: 700; }
  @media (max-width: 1024px) {
    .custom-text5, .home .home-text h1, .facts .container h1 {
      font-size: 35px; } }

.flex-row, .container, .home .left-nav, .home .right-nav, .cause .numbers {
  display: flex;
  justify-content: space-between;
  flex-direction: row; }

.flex-column, .column, .home .left-nav .logo-title, .about .left-about, .cause .article-desc, .vision .logo-wrap, .news .article-desc, footer .logo-title {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.descriptions, .about .left-about p, .cause .article-desc p, .vision .logo-wrap p, .facts .container h5, .news .article-desc p, .testimonials blockquote {
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  color: #96948f; }

.hover, .home .right-nav ul li:hover, .about .left-about .list p:hover {
  cursor: pointer;
  transition: .3s ease-in-out; }

.img, .about .right-about img, .cause .column img, .meet .container img, .news .column img, .gallery .container img {
  max-width: 100%;
  max-height: 100%; }

.img-auto, .home .left-nav img {
  height: auto;
  width: auto; }

.sec-padding, .about, .cause, .vision, .facts, .meet, .news, .gallery, .testimonials {
  padding: 100px 0; }
  @media (max-width: 1024px) {
    .sec-padding, .about, .cause, .vision, .facts, .meet, .news, .gallery, .testimonials {
      padding: 50px 0; } }

.home {
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/background.jpg);
  overflow: hidden;
  color: #fff; }
  .home .left-nav {
    width: 18%; }
    .home .left-nav .logo-title h5 {
      font-weight: 400; }
  .home .right-nav {
    width: 70%;
    justify-content: flex-end; }
    .home .right-nav ul {
      display: flex;
      justify-content: flex-end;
      list-style: none; }
      .home .right-nav ul li {
        padding: 10px;
        margin: 6px;
        font-weight: 600; }
      .home .right-nav ul li:nth-child(1) {
        color: #daa769; }
      .home .right-nav ul li:hover {
        color: #daa769; }
  .home .home-text {
    color: #fff;
    margin: 20vh 0;
    padding: 5px;
    width: 65%; }
    .home .home-text h3 {
      color: #ebc33a;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 0.8px; }
    .home .home-text p {
      margin: 10px 0 50px 0; }
    .home .home-text button {
      border-radius: 28px;
      background-color: #daa769;
      color: #fff;
      text-transform: uppercase;
      border: none;
      padding: 2.5% 5%;
      font-weight: 800;
      letter-spacing: 0.8px;
      transition: .3s ease-in-out; }
      @media (max-width: 1024px) {
        .home .home-text button {
          padding: 15px 25px; } }
    .home .home-text button:hover {
      cursor: pointer;
      background-color: #96948f; }

.about .left-about {
  text-align: left;
  width: 50%; }
  .about .left-about h1 {
    text-transform: capitalize;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: 15px;
    border-left: 2px solid #ebc33a;
    padding-left: 40px; }
    @media (max-width: 1024px) {
      .about .left-about h1 {
        font-size: 25px; } }
  .about .left-about p {
    margin-bottom: 15px;
    padding-left: 40px; }
    .about .left-about p i {
      color: #ebc33a;
      margin-right: 20px; }
  .about .left-about .list p:hover {
    color: #ebc33a; }
  .about .left-about .list p:nth-child(3) {
    margin-bottom: 0; }

.about .right-about {
  width: 45%; }

.cause {
  background-color: #f7f6ef; }
  .cause .cause-title {
    text-align: center;
    margin: auto;
    width: 50%; }
    .cause .cause-title h3 {
      color: #ebc33a;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 0.8px;
      margin-bottom: 10px; }
    .cause .cause-title h1 {
      text-transform: capitalize;
      font-size: 40px;
      line-height: 1.2;
      font-weight: 400;
      position: relative; }
      @media (max-width: 1024px) {
        .cause .cause-title h1 {
          font-size: 25px; } }
    .cause .cause-title h1::after {
      content: "";
      height: 5px;
      width: 150px;
      color: #ebc33a;
      position: absolute;
      border-bottom: 2px solid #ebc33a;
      left: 220px;
      bottom: -15px; }
  .cause .container {
    margin: 70px 0; }
  .cause .column {
    justify-content: space-between;
    width: 32%;
    background-color: #fff; }
    .cause .column img {
      height: 250px; }
  .cause .article-desc {
    padding: 15px 25px; }
    .cause .article-desc h3 {
      font-weight: 700;
      margin-bottom: 15px;
      transition: .3s ease-in-out; }
    .cause .article-desc p {
      margin-bottom: 10px; }
    .cause .article-desc h3:hover {
      color: #ebc33a;
      cursor: pointer; }
  .cause .numbers p {
    color: #2c292b;
    margin: 10px 0; }
    .cause .numbers p span {
      color: #daa769; }

.vision h1 {
  text-transform: capitalize;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 400; }
  @media (max-width: 1024px) {
    .vision h1 {
      font-size: 25px; } }

.vision p {
  color: #96948f;
  font-size: 23px; }

.vision .container {
  margin: 50px 0; }

.vision .logo-wrap {
  text-align: left;
  width: 28%;
  margin-right: 15px; }
  .vision .logo-wrap img {
    width: 100px; }
  .vision .logo-wrap h3 {
    text-transform: capitalize;
    margin: 20px 0; }

.facts {
  background-color: #f48c27;
  color: #fff;
  text-align: center; }
  .facts h3 {
    color: #ebc33a;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.8px; }
  .facts .head {
    text-transform: capitalize;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 400;
    color: #fff;
    position: relative; }
    @media (max-width: 1024px) {
      .facts .head {
        font-size: 25px; } }
  .facts .head::after {
    content: "";
    height: 5px;
    width: 150px;
    color: #ebc33a;
    position: absolute;
    border-bottom: 2px solid #ebc33a;
    top: 60px;
    left: 510px; }
  .facts .container {
    padding: 60px; }
    .facts .container h5 {
      color: #fff; }
    .facts .container h1 {
      letter-spacing: 1px; }

.meet {
  text-align: center; }
  .meet h1 {
    text-transform: capitalize;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 400; }
    @media (max-width: 1024px) {
      .meet h1 {
        font-size: 25px; } }
  .meet p {
    color: #96948f; }
  .meet .container {
    margin: 40px 0; }
    .meet .container img {
      margin: 10px 0; }
    .meet .container p {
      font-size: 18px; }

.join {
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/trash.jpg);
  padding: 50px 0;
  color: #fff;
  text-align: center; }
  .join h2 {
    text-transform: capitalize;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 400;
    color: #fff; }
    @media (max-width: 1024px) {
      .join h2 {
        font-size: 25px; } }
  .join button {
    padding: 1.5% 5%;
    margin: 40px 0; }

.news {
  background-color: #f7f6ef; }
  .news h3 {
    color: #ebc33a;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.8px;
    text-align: center; }
  .news h1 {
    text-align: center;
    text-transform: capitalize;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 400;
    position: relative; }
    @media (max-width: 1024px) {
      .news h1 {
        font-size: 25px; } }
  .news h1::after {
    content: "";
    height: 5px;
    width: 150px;
    color: #ebc33a;
    position: absolute;
    border-bottom: 2px solid #ebc33a;
    top: 60px;
    left: 50%;
    transform: translateX(-50%); }
    @media (max-width: 480px) {
      .news h1::after {
        display: none; } }
  .news .container {
    margin: 70px 0; }
  .news .column {
    justify-content: flex-start;
    width: 32%;
    background-color: #fff; }
    .news .column img {
      height: 250px; }
  .news .article-desc {
    padding: 15px 25px;
    text-align: left; }
    .news .article-desc h3 {
      text-transform: capitalize;
      text-align: left;
      margin-bottom: 10px;
      transition: .3s ease-in-out; }
    .news .article-desc h3:hover {
      color: #ebc33a;
      cursor: pointer; }

.gallery {
  padding-bottom: 0;
  text-align: center; }
  .gallery h3 {
    color: #ebc33a;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.8px; }
  .gallery h1 {
    text-transform: capitalize;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 400;
    position: relative; }
    @media (max-width: 1024px) {
      .gallery h1 {
        font-size: 25px; } }
  .gallery h1::after {
    content: "";
    height: 5px;
    width: 150px;
    color: #ebc33a;
    position: absolute;
    border-bottom: 2px solid #ebc33a;
    top: 60px;
    left: 520px; }
  .gallery .container {
    flex-wrap: wrap; }
    .gallery .container .item {
      display: inline-block;
      overflow: hidden;
      width: 49.5%;
      height: 400px;
      margin: 5px 0;
      position: relative; }
    .gallery .container img {
      -moz-transition: all 0.2s;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
      vertical-align: middle;
      -webkit-filter: brightness(100%);
      width: 1200px;
      height: 800px; }
    .gallery .container span {
      color: white;
      font-size: 25px; }
    .gallery .container .item:hover span {
      animation: fadeInDown .4s ease-in both; }
    .gallery .container .item:hover img {
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      cursor: pointer;
      -webkit-filter: brightness(50%);
      -webkit-transition: all 1s ease; }
    .gallery .container .item:hover a {
      opacity: 1;
      /* added */
      top: 0;
      /* added */
      z-index: 500; }
    .gallery .container .item:hover span {
      top: 50%;
      position: absolute;
      left: 0;
      right: 0;
      transform: translateY(-50%); }
    .gallery .container .item a {
      display: block;
      position: absolute;
      top: -100%;
      opacity: 0;
      left: 0;
      bottom: 0;
      right: 0;
      text-align: center;
      color: inherit; }

@keyframes fadeInDown {
  0% {
    transform: scale(1);
    opacity: 0; } }

.testimonials h3 {
  color: #ebc33a;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-align: center; }

.testimonials h1 {
  text-transform: capitalize;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
  position: relative; }
  @media (max-width: 1024px) {
    .testimonials h1 {
      font-size: 25px; } }

.testimonials h1::after {
  content: "";
  height: 5px;
  width: 150px;
  color: #ebc33a;
  position: absolute;
  border-bottom: 2px solid #ebc33a;
  top: 60px;
  left: 510px; }

.testimonials .container {
  padding: 3% 0;
  margin-top: 30px; }

.testimonials .testimonial {
  background-color: #f7f6ef;
  height: 200px;
  padding: 30px 80px;
  margin-right: 20px; }

.testimonials .testimonial:nth-child(2) {
  margin-right: 0; }

.testimonials blockquote {
  position: relative; }

.testimonials h5 {
  font-size: 16px;
  margin-top: 30px; }

.testimonials blockquote::before {
  display: block;
  font-family: Georgia, serif;
  font-size: 60px;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -50px;
  top: -40px;
  color: #7a7a7a; }

.logos {
  background-color: #f7f6ef;
  padding: 50px; }

footer {
  padding: 50px;
  background-color: #2c292b;
  color: #fff; }
  footer .column {
    width: 30%;
    margin: auto;
    text-align: center; }
  footer .container:nth-child(1) {
    margin: auto auto 30px auto; }
  footer .container:nth-child(2) {
    justify-content: space-around;
    margin-bottom: 30px; }
  footer img {
    margin-right: 50px; }
  footer .logo-title h5 {
    font-weight: 400; }
  footer i {
    padding: 20px;
    border-radius: 50%;
    background-color: #fff;
    color: #2c292b;
    width: 20px;
    transition: .3s ease-in-out; }
  footer i:hover {
    background-color: #f48c27;
    color: #fff;
    cursor: pointer; }
  footer p {
    color: #96948f;
    padding: 5px 0; }

@media (max-width: 1024px) {
  .home {
    padding: 0; }
    .home .right-nav {
      width: 80%;
      justify-content: space-between; }
      .home .right-nav ul {
        justify-content: flex-start; }
    .home .home-text {
      margin: 30px 0; }
      .home .home-text h1 {
        text-transform: capitalize;
        font-size: 35px; }
  .about {
    padding: 20px 0; }
  .cause .container {
    margin: 30px 0; }
  .vision p {
    font-size: 20px; }
  .facts .container {
    padding: 30px; }
  .meet .volunteer {
    margin-right: 15px; }
    .meet .volunteer p {
      font-size: 16px; }
  .join {
    padding: 20px; } }

@media (max-width: 767px) {
  .home .left-nav {
    width: 30%; }
  .home .right-nav {
    display: none; }
  .about .left-about {
    width: 60%; }
  .about .right-about {
    width: 38%; }
  .cause .container {
    margin: 20px auto;
    flex-direction: column; }
  .cause .column {
    width: 90%;
    margin: auto auto 20px auto; }
  .vision h1 {
    margin: 0 3%; }
  .vision p {
    margin: 0 3%; }
  .vision .container {
    flex-direction: column;
    margin: 20px auto; }
  .vision .logo-wrap {
    text-align: center;
    width: 70%;
    margin: 10px auto; }
    .vision .logo-wrap img {
      margin: auto; }
  .facts {
    padding: 20px; }
    .facts .four-row {
      flex-wrap: wrap;
      width: 80%;
      margin: auto;
      padding: 20px; }
    .facts .row-container {
      width: 40%;
      margin: 10px; }
  .meet .container {
    flex-wrap: wrap; }
  .meet .volunteer {
    width: 40%;
    margin: 10px auto; }
  .news .container {
    margin: 20px auto;
    flex-direction: column; }
  .news .column {
    width: 90%;
    margin: auto auto 20px auto; } }

@media (max-width: 680px) {
  .home .home-text {
    width: 95%; }
  .about .container {
    flex-direction: column; }
    .about .container .left-about {
      width: 80%;
      margin: auto;
      margin-bottom: 20px; }
    .about .container .right-about {
      width: 80%;
      margin: auto; } }
