@mixin background {
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}


$openSans: 'Open Sans', sans-serif;
$robotoSlab: 'Roboto Slab', serif;
$peach: #daa769;
