*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.wrapper{
    margin: auto;
    padding: auto;
    max-width: $large-display;
    @media #{$desktop} {
        max-width: 1024px;
    }
    @media #{$default}{
        max-width: 767px;
    }
    @media #{$medium}{
        max-width: 680px;
    }
    @media #{$mobile}{
        max-width: 480px;
    }

}
.container{
    @extend .flex-row;
}
.column{
    @extend .flex-column;
}
button{
    @include button;
}
