* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }

.wrapper {
  margin: auto;
  padding: auto;
  max-width: 1150px; }
